# compiled output
/docker
.env
.env.old
.vscode/

# Logs
logs
*.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
